body {
    background-color: #19647E;
} 

h1 {
    color: #e9e3b4;
    text-align: center;
}

h2 {
    text-align: center;
    color: #e9e3b4;
}

.btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -17px);
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.box > div {
    width: 20%;
    min-width: 120px;
    height: 20vw;
    min-height: 120px;
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
}
