body {
    background-color: #19647E;
} 

h1 {
    color: #e9e3b4;
}

h2 {
    text-align: center;
    color: #e9e3b4;
}

.btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -17px);
}

.box {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    height: 800px;
}

.box > div {
    width: 25%;
    border-style: solid;
    border-color: red;
    border: 5px;
    background-size: cover;
    
}